<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>文档检索</title>

	<link href="/webResources/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/webResources/plugins/fileinput/css/plugins/fileinput.css" rel="stylesheet"/>
	<link href="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet"/>
	
	<script type="text/javascript" src="/webResources/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/bootstrap/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/fileinput/js/plugins/fileinput.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/fileinput/js/plugins/fileinput_locale_zh.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/jquery.validate.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/localization/messages_zh.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-form/jquery.form.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/webResources/js/custom/document/document.js"></script>


</head>

<body>
	<p>
		<input type="text" name="content" id="content" /> <input id="search" type="button" value="search" />
	</p>
	<form id="uploadForm" >
		<input type="file" class="file" id="file_upload" name="file_upload"/>
		<input type="submit" value="upload"/>
	</form>
	<div id="result"></div>
	
</body>
</html>