<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="base">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{customerService.startProcess}"></title>
	
	<link href="/webResources/plugins/fileinput/css/fileinput.css" rel="stylesheet"/>
	<link href="/webResources/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
	<link href="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet"/>
	<link href="/webResources/css/custom/validate.css" rel="stylesheet"/>
	<link href="/webResources/plugins/jquery-lighter/stylesheets/jquery.lighter.css" rel="stylesheet"/>
	<link href="/webResources/plugins/hotbox/hotbox.css" rel="stylesheet"/>
	
	<style type="text/css">
		.form-control[readonly]{
		    cursor: default;
		    background-color: #c7c7c7;
		}
		.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
		    padding-top: 0px;
		    margin-top: 0;
		    margin-bottom: 0;
		}
	</style>
	
	
	<script type="text/javascript" src="/webResources/plugins/datetimepicker/bootstrap-datetimepicker.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/jquery.validate.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/localization/messages_zh.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/process/customerService/startProcessForm.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-form/jquery.form.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-BlockUI/jquery.blockUI.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/fileinput/js/fileinput.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/fileinput/js/locales/zh.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-lighter/javascripts/jquery.lighter.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/hotbox/bower_components/seajs/dist/sea.js" ></script>
	
</head>

<body>
	<div layout:fragment="content">
		<form class="form-horizontal" role="form" th:object="${process}" id="customerServiceForm" v-cloak="v-cloak">
			<input type="hidden" id="processId" name="processId" th:value="${process.id}"/> 
			<input type="hidden" id="processName" name="processName" th:value="${process.name}"/> 
			<input type="hidden" id="reject" name="reject" th:value="${process.examineDetail.reject}"/> 
	        <fieldset>
				<div class="companyMgr-edge" style="height: 2000px">
				    <div class="company-top">
				        <div class="company-big" th:text="#{customServiceProcess}">
				            	业务流程
				        </div>
				        <div class="company-small" th:text="#{customerService.startProcess}">
				            -发起流程
				        </div>
				    </div>
				    <div class="taskTodo" >
				        <div class="taskTodo-title">
				            <div class="apply-detail-img">
				            	<img style="width: 40px;height: 40px;float: right;margin-top: 12%" src="/webResources/img/icon/dialogtitle.png"/>
				            </div>
				            <div class="apply-detail-title">
				                	<span th:text="#{customerService.applicant}"></span>
				                	&nbsp;&nbsp;&nbsp;
				                	<span th:text="${session.user.name}"></span>
				            </div>
				        </div>
				        <div class="taskTodo-Info">
				            <div class="taskTodo-Info-in">
				                <div class="taskTodo-Info-action">
				                	<a th:href="@{/customerServiceProcess/startedProcess/view}">
				                		<input type="button" class="out-button" th:value="#{return}"/>
				                	</a>
				                    <input type="submit" class="save-button" th:value="#{commit}"/>
				                </div>
				                <div class="project-info-title" style="margin-top: 4%;" th:text="#{project.message}">
				                    	项目信息
				                </div>
				                <div class="project-info">
				                    <div class="project-text">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.belong}">
				                                	归属：
				                            </div>
				                            <div class="project-text-right">
				                                <select th:field="*{startDetail.belong}" name="startDetail.belong" id="startDetail.belong" class="form-control"> 
									            	<option th:each="belong : ${belongs}" th:value="${belong}" th:text="#{'customerService.belong.'+${belong}}"></option>
									            </select>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="project-text">
				                    	<div class="project-text-in">
				                    		<input type="hidden" th:field="*{startDetail.project.id}"/>
				                            <div class="project-text-left" th:text="#{customerService.projectNo}">
				                               	 项目编号：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.project.number}" th:placeholder="#{customerService.projectNo}"/>
				                            </div>
				                        </div>
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.projectName}">
				                               	 项目名称：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.project.name}" th:placeholder="#{customerService.projectName}" readonly="readonly"/>
				                            </div>
				                        </div>
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.projectLocation}">
				                               	 项目地址：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.project.location}" th:placeholder="#{customerService.projectLocation}" readonly="readonly"/>
				                            </div>
				                        </div>
				                        
				                    </div>
				                    <div class="project-text">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.productName}">
				                               	 产品名称：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.productName}" th:placeholder="#{customerService.productName}"/>
				                            </div>
				                        </div>
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.productNo}">
				                               	 产品编号：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.productNo}" th:placeholder="#{customerService.productNo}"/>
				                            </div>
				                        </div>
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.productSpecifications}">
				                                	产品规则：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.productSpecifications}" th:placeholder="#{customerService.productSpecifications}"/>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="project-text" style="padding-left:1.6%">
				                        <div class="form-group">
				                            <label class="project-text-left" style="padding: 0%;font-weight: 300;width: 8.5%" th:text="#{customerService.productType}">产品类型：</label>
				                            <div class="col-md-10" style="padding-left: 0%">
				                                <label th:each="productType : ${productTypes}" class="checkbox-inline"><input th:field="*{startDetail.productType}" name="startDetail.productType" class="uniform" th:value="${productType}" th:text="#{'customerService.productType.'+${productType}}" type="radio"/></label>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				                <div class="project-info-title" th:text="#{customerService.contactWay}">
				                    	联系方式
				                </div>
				                <div class="project-info" style="height: 12%">
				                    <div class="project-text">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.customerMan}">
				                               	 客户联系人：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.customerMan}" th:placeholder="#{customerService.customerMan}"/>
				                            </div>
				                        </div>
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.customerNumber}">
				                                	联系电话：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.customerNumber}" th:placeholder="#{customerService.customerNumber}"/>
				                            </div>
				                        </div>
				
				                    </div>
				                    <div class="project-text" style="margin-top: 3.5%">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.projectMan}">
				                                	项目联系人：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" th:value="${process.startDetail.projectMan!=null?process.startDetail.projectMan:session.user.name}" type="text" id="startDetail.projectMan" name="startDetail.projectMan" th:placeholder="#{customerService.projectMan}"/>
				                            </div>
				                        </div>
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.projectNumber}">
				                                	联系电话：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" th:value="${process.startDetail.projectNumber!=null?process.startDetail.projectNumber:session.user.tel}" type="text" id="startDetail.projectNumber" name="startDetail.projectNumber" th:placeholder="#{customerService.projectNumber}"/>
				                            </div>
				                        </div>
				
				                    </div>
				                </div>
				                <div class="project-info-title" style="margin-top: 2%" th:text="#{customerService.otherDemands}">
				                    	其他要求
				                </div>
				                <div class="project-info">
				                	 <div class="project-text">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{nextAssignee}">
				                               	 下一步办理人：
				                            </div>
				                            <div class="project-text-right">
				                                <select th:field="*{startDetail.nextAssignee}" name="startDetail.nextAssignee" id="startDetail.nextAssignee" class="form-control"> 
									            	<option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
									            </select>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="project-text">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.estimatedTime}">
				                               	 预估维修时间：
				                            </div>
				                            <div class="project-text-right">
				                                <input class="form-control" type="text" th:field="*{startDetail.estimatedTime}" th:placeholder="#{customerService.estimatedTime}"/>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="project-text">
				                        <div class="project-text-in" style="width: 65%">
				                            <div class="project-text-left" style="width: 13%" th:text="#{customerService.baseDemands}">
				                                	基本要求：
				                            </div>
				                            <div class="project-text-right" style="width:87% ">
				                                <textarea th:field="*{startDetail.baseDemands}" th:placeholder="#{customerService.baseDemands}" rows="6" cols="5" name="textarea" class="autosize form-control textarea-transition" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 91px;"></textarea>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="project-text" style="margin-top: 6%">
				                        <div class="project-text-in" style="width: 65%">
				                            <div class="project-text-left" style="width: 13%" th:text="#{customerService.specialDemands}">
				                                	特殊要求：
				                            </div>
				                            <div class="project-text-right" style="width:87% ">
				                                <textarea th:field="*{startDetail.specialDemands}" th:placeholder="#{customerService.specialDemands}" rows="6" cols="5" name="textarea" class="autosize form-control textarea-transition" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 91px;"></textarea>
				                            </div>
				                        </div>
				                    </div>
				                    <div th:if="${process.examineDetail.reject}" class="project-text" style="margin-top: 6%">
				                        <div class="project-text-in">
				                            <div class="project-text-left" th:text="#{customerService.uploadFile.exist}">
				                               	 已上传附件
				                            </div>
				                            <div id="existFiles" class="project-text-right">
				                            	<table>
				                            		<tr>
				                            			<td v-for="fileData in fileDatas"> 
				                            				<a v-bind:href="'/fileDownload/'+fileData.stringObjectId" data-lighter="data-lighter">
															  <img v-bind:src="'/fileDownload/'+fileData.stringObjectId" v-bind:id="fileData.stringObjectId" style="width: 80px;height: 80px;"/>
															</a>
				                            			</td>
				                            		</tr>
				                            	</table>
				                            	
				                            </div>
				                        </div>
				                    </div>
				                    <div class="project-text" style="margin-top: 5%">
				                        <div class="project-text-in" style="width:100%">
				                            <div class="project-text-left" style="width:8.5%" th:text="#{customerService.uploadFile}">
				                               	 上传附件
				                            </div>
				                            <div class="project-text-right">
				                                <input type="file" id="fileUpLoad" multiple="multiple" name="fileUpLoad" data-show-caption="true"/>
				                            </div>
				                        </div>
				                    </div>
				                    <div id="hotbox"></div>
				                </div>            			
				            </div>
				        </div>
				    </div>
				</div>
			</fieldset>
	   	</form>
	</div>
</body>

</html>

