#main-content{

    background: #F4F6F9;
}
.logo-top{
    width: 60%;height: 100%;margin-left: 14%;background: #FFFFFF;
}
.dashboard{
    width:100%;height: 895px;background: #E2E2E2;padding: 0.8%;
}
.dashboardin{
    width: 100%;height: 100%;background: #F1F1F1;padding: 1.5%;
}

.dhtop{
    width: 100%;height: 12%;
}
.category-goaland{
    width: 18.6%;height: 100%;float: left;border:solid #CCCCCC 1px;background: #FFFFFF;
}
.category-number{
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 26px;
    padding-top: 2%;
    color: #DC4F28;
}
.eng-name{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 16px;
    color: #B3B1B1;
    padding-top: 1%;
}
.cha-name{
    width: 100%;
    height: 45%;
    text-align: center;
    font-size: 16px;
    padding-top: 3%;
}
.dhcenter{
    width: 100%;height: 83%;margin-top: 1.8%;border:solid #CCCCCC 1px;background: #FFFFFF;
}
.allmap{
    width: 71%;height: 100%;padding-top: 3%;float: left;
}
.dhright{
    width: 26%;height: 30%;float: right;margin-top: 1.3333%;
}
.dhright-title{
    width: 100%;height: 10%;font-weight: 900;font-size: 16px;color: #737782;
}
.right-charts{
    width: 100%;height: 90%;
}
.companyMgr-page{
    width:100%;height:846px;background: #F4F6F9;
}
.companyMgr-edge{
    width:100%;height:897px;padding: 2%;
}
.company-top{
    width: 100%;height: 4%;margin-left: 1%;
}
.company-big{
    width: 7%;height: 100%;float: left;font-size: 24px;color: #96A6B8;
}
.company-small{
    width: 60%;height: 100%;float: left;font-size: 14px;padding-top: 0.4%;color: #96A6B8;font-weight: 700;
}
.company-tab{
    width: 100%;height: 5.92%;border-bottom: solid #DEE0E5 1px;
}
.company-select{
    width: 100%;height: 4%;margin-top: 1%;margin-bottom: 1%;
}
.company-subtab{
    color:#898989;width: 10%;height: 100%;float: left;font-size: 16px;padding-top:0.7%;padding-left:2.8% ;
}
.tab-active{
    border-bottom:solid 2px #EE9B7A;color: #F55F2A;
}
.right-border{
    border-right: solid #DEE0E5 1px;
}
.company-search{
    width: 20%;
    height: 100%;
    float: left;padding-top: 1%;margin-left: 18%;
}
.company-button{
    width: 5%;height: 100%;float: right;
}
.company-button-import{
    width: 100%;height: 60%;background: #7FB8DA;color: #FFFFFF;border: 0px;border-radius: 3px;margin-top: 20%;
}
.company-button-new{
    width: 100%;height: 60%;background: #EB8B64;color: #FFFFFF;border: 0px;border-radius: 3px;margin-top: 20%;
    margin-right: 3%;
}
.data-table{
    width: 100%;height: 60%;margin-top: 1%;
}
.process-table{
    width: 100%;height: 85%;background: #F4F6F9;padding-left: 2%;padding-right: 2%;
}
.table-in{
    width: 100%;height: 100%;
}
.table-title{
    width: 100%;height: 5.7%;background: #E7ECF2;color: #6B7787;
}
.title-first{
    color:#6B7787;width: 41%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 3%;padding-top: 0.6%;
}
.title-second{
    color:#6B7787;width: 19%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 6%;padding-top: 0.6%;
}
.title-third{
    color:#6B7787;width: 19%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 6%;padding-top: 0.6%;
}
.title-fourth{
    color:#6B7787;width: 21%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 7.5%;padding-top: 0.6%;
}
.processList{
    width: 100%;height: 93%;
}
.process-in{
    width: 100%;height: 20%;margin-top: 0.5%;border:solid #C6D1D9 1px;background: #FFFFFF;
}
.process-in-title{
    width: 100%;height: 30%;background: #F2F7F9;font-size: 14px;font-weight: 800;color: #4D9CCC;padding-left: 3%;
    padding-top: 0.6%;border-bottom:solid #D4DDE3 1px;
}
.process-Info-first{
    width: 39.5%;height: 70%;float: left;
}
.process-Info-second{
    width: 18.5%;height: 73%;float: left;
}
.process-Info-third{
    width: 18.5%;height: 73%;float: left;
}
.process-Info-fourth{
    width: 22%;height: 73%;float: left;
}
.process-border-right{
    border-right: solid #C6D1D9 1px;height: 50%;width: 0.5%;float: left;margin-top: 0.8%;
}
.process-img{
    width: 22%;height: 100%;float: left;padding: 2% 7%;
}
.process-info-name{
    width: 78%;height: 100%;float: left;font-size: 16px;
}
.process-info-detail{
    width: 100%;height: 40%;padding-top: 2%;
}
.process-info-detail2{
    width: 100%;height: 40%;padding-top: 1%;
}
.process-info-center{
    width: 100%;height: 20%;
}
.process-apply{
    width: 100%;height: 50%;font-size: 16px;padding-left: 40%;padding-top: 6%;
}
.process-applyTime{
    width: 100%;height: 50%;font-size: 16px;padding-left: 23%;padding-top: 1%;color: #566E8D;
}
.table-top{
    width: 100%;height: 50px;background: #FC8060;padding-left: 3%;
}
.title-big{
    height: 100%;width: 5%;font-size: 16px;color: #FFFFFF;float: left;padding-top: 0.8%;
}
.title-small{
    height: 100%;width: 20%;font-size: 14px;color: #FEC0B0;float: left;padding-top: 0.9%;
}
.company-select-title{
    width: 8%;height: 100%;font-size: 16px;color: #39A1D8;float: left;text-align: right;padding-top: 0.4%;font-weight: 700;
}
.time-select{
    width: 11%;height: 100%;float: left;
}
.time-select1{
    width: 6%;height: 100%;float: left;text-align: center;font-size: 16px;color: #BABABA;padding-top: 0.4%;
}
.time-select2{
    width: 2%;height: 100%;float: left;text-align: center;font-size: 16px;color: #BABABA;padding-top: 0.4%;
}
.doing-button{
    width: 48%;height: 50%;margin-top: 10%;float: left;
}
.detail-button{
    width: 48%;height: 50%;float: right;margin-top: 10%;
}
.doingbutton{
    width: 30%;height: 50%;background: #FC8060;color: #FFFFFF;border: 0px;float: right;border-radius: 5px;
}
.detailbutton{
    width: 30%;height: 50%;background: #4D9CCC;color: #FFFFFF;border: 0px;float: left;border-radius: 5px;
}
.process-in-title-left{
    width: 20%;height: 100%;float: left;
}
.process-in-title-right{
    width: 23%;height: 100%;float: right;color: #8A9BA4;font-weight: 300;
}
.taskTodo{
    width: 100%;height: 97%;border: solid #C6D1D9 1px;background: #FFFFFF;
}
.taskTodo-title{
    width: 100%;height: 5.5%;border-bottom: solid #C6D1D9 1px;background: #F2F7F9;
}
.apply-detail-img{
    width: 5%;height: 100%;float: left;
}
.apply-detail-title{
    width:10%;height: 100%;float: left;font-size: 16px;font-weight: 500;color: #4F6A7F;padding-top: 1.25%;padding-left: 1%;
}
.task-No{
    width: 12%;height: 100%;float: right;font-size: 16px;font-weight: 500;color: #4F6A7F;padding-top: 1.25%;
}
.taskTodo-Info{
    width: 100%;height: 94.5%;padding:2.5% 12% 1% 12%;
}
.taskTodo-Info-in{
    width: 100%;height: 100%;
}
.taskTodo-Info-action{
    width: 100%;height: 3.5%;
}
.out-button{
    width: 7%;height: 100%;background: #BECBD4;font-size: 14px;border: 0px;border-radius: 3px;color: #FFFFFF;
}
.save-button{
    width: 7%;height: 100%;background: #F77A4B;font-size: 14px;border: 0px;border-radius: 3px;color: #FFFFFF;
}
.do-button{
    width: 10%;height: 100%;background: #4D9CCC;font-size: 14px;border: 0px;border-radius: 3px;color: #FFFFFF;
}
.project-info{
    width: 100%;height: 26%;border-top:solid #d9dee2 1px;
}
.project-info2{
    width: 100%;height: 27.5%;background: greenyellow;
}
.project-info3{
    width: 100%;height: 27.5%;background: greenyellow;
}
.project-info-title{
    width: 100%;height: 2%;border-left: solid #FBBCA5 3px;font-size: 16px;color: dimgrey;padding-left: 1%;
    margin-bottom: 1.5%;
}
.project-info{
    padding-left: 4%;padding-right: 4%;
}
.project-text{
    width: 100%;height: 15%;margin-top: 1.5%;
}
.project-text-in{
    width: 32%;height: 100%;float: left;
}
.project-text-left{
    width: 26%;height: 100%;float: left;color: #8B9BA5;font-size: 14px;padding-top: 2.4%;
}
.project-text-right{
    width: 70%;height: 100%;float: left;
}
.select{
    height: 100%;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}




