#main-content{

    background: #F4F6F9;
}
.half-div{
    width: 100% ;height: 50%;
}
.logo-top{
    width: 60%;height: 100%;margin-left: 14%;background: #FFFFFF;
}
.dashboard{
    width:100%;height: 897px;background: #E2E2E2;padding: 0.8%;
}
.dashboardin{
    width: 100%;height: 100%;background: #F1F1F1;padding: 1.5%;
}

.dhtop{
    width: 100%;height: 12%;
}
.category-goaland{
    width: 18.6%;height: 100%;float: left;border:solid #CCCCCC 1px;background: #FFFFFF;
}
.category-number{
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 26px;
    padding-top: 2%;
    color: #DC4F28;
}
.eng-name{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 16px;
    color: #B3B1B1;
    padding-top: 1%;
}
.cha-name{
    width: 100%;
    height: 45%;
    text-align: center;
    font-size: 16px;
    padding-top: 3%;
}
.dhcenter{
    width: 100%;height: 83%;margin-top: 1.8%;border:solid #CCCCCC 1px;background: #FFFFFF;
}
.allmap{
    width: 71%;height: 100%;padding-top: 3%;float: left;
}
.dhright{
    width: 26%;height: 30%;float: right;margin-top: 1.3333%;
}
.dhright-title{
    width: 100%;height: 10%;font-weight: 900;font-size: 16px;color: #737782;
}
.right-charts{
    width: 100%;height: 90%;
}
.companyMgr-page{
    width:100%;height:847px;background: #F4F6F9;
}
.companyMgr-edge{
    width:100%;height:897px;padding: 2%;
}
.company-top{
    width: 100%;height: 4%;margin-left: 1%;
}
.company-big{
    width: 7%;height: 100%;float: left;font-size: 24px;color: #96A6B8;
}
.company-small{
    width: 60%;height: 100%;float: left;font-size: 14px;padding-top: 0.4%;color: #96A6B8;font-weight: 700;
}
.company-tab{
    width: 100%;height: 5.92%;border-bottom: solid #DEE0E5 1px;
}
.company-select{
    width: 100%;height: 4%;margin-top: 1%;margin-bottom: 1%;
}
.company-subtab{
    color:#898989;width: 10%;height: 100%;float: left;font-size: 16px;padding-top:0.7%;padding-left:2.8% ;
}
.tab-active{
    border-bottom:solid 2px #EE9B7A;color: #F55F2A;
}
.right-border{
    border-right: solid #DEE0E5 1px;
}
.company-search{
    width: 20%;
    height: 100%;
    float: left;padding-top: 1%;margin-left: 18%;
}
.company-button{
    width: 5%;height: 100%;float: right;
}
.company-button-import{
    width: 100%;height: 60%;background: #7FB8DA;color: #FFFFFF;border: 0px;border-radius: 3px;margin-top: 20%;
}
.company-button-new{
    width: 100%;height: 60%;background: #EB8B64;color: #FFFFFF;border: 0px;border-radius: 3px;margin-top: 20%;
    margin-right: 3%;
}
.data-table{
    width: 100%;height: 60%;margin-top: 1%;
}
.process-table{
    width: 100%;height: 85%;background: #F4F6F9;padding-left: 2%;padding-right: 2%;
}
.table-in{
    width: 100%;height: 100%;
}
.table-title{
    width: 100%;height: 5.7%;background: #E7ECF2;color: #6B7787;
}
.title-first{
    color:#6B7787;width: 41%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 3%;padding-top: 0.6%;
}
.title-second{
    color:#6B7787;width: 19%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 6%;padding-top: 0.6%;
}
.title-third{
    color:#6B7787;width: 19%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 6%;padding-top: 0.6%;
}
.title-fourth{
    color:#6B7787;width: 21%;height: 100%;float: left;font-size: 16px;font-weight: 800;padding-left: 7.5%;padding-top: 0.6%;
}
.processList{
    width: 100%;height: 93%;
}
.process-in{
    width: 100%;height: 20%;margin-top: 0.5%;border:solid #C6D1D9 1px;background: #FFFFFF;
}
.process-in-title{
    width: 100%;height: 30%;background: #F2F7F9;font-size: 14px;font-weight: 800;color: #4D9CCC;padding-left: 3%;
    padding-top: 0.6%;border-bottom:solid #D4DDE3 1px;
}
.process-Info-first{
    width: 39.5%;height: 70%;float: left;
}
.process-Info-second{
    width: 18.5%;height: 73%;float: left;
}
.process-Info-third{
    width: 18.5%;height: 73%;float: left;
}
.process-Info-fourth{
    width: 22%;height: 73%;float: left;
}
.process-border-right{
    border-right: solid #C6D1D9 1px;height: 50%;width: 0.5%;float: left;margin-top: 0.8%;
}
.process-img{
    width: 22%;height: 100%;float: left;padding: 2% 7%;
}
.process-info-name{
    width: 78%;height: 100%;float: left;font-size: 16px;
}
.process-info-detail{
    width: 100%;height: 40%;padding-top: 2%;
}
.process-info-detail2{
    width: 100%;height: 40%;padding-top: 1%;
}
.process-info-center{
    width: 100%;height: 20%;
}
.process-apply{
    width: 100%;height: 50%;font-size: 16px;padding-left: 40%;padding-top: 6%;
}
.process-applyTime{
    width: 100%;height: 50%;font-size: 16px;padding-left: 23%;padding-top: 1%;color: #566E8D;
}
.table-top{
    width: 100%;height: 50px;background: #FC8060;padding-left: 3%;
}
.title-big{
    height: 100%;width: 5%;font-size: 16px;color: #FFFFFF;float: left;padding-top: 0.8%;
}
.title-small{
    height: 100%;width: 20%;font-size: 14px;color: #FEC0B0;float: left;padding-top: 0.9%;
}
.company-select-title{
    width: 8%;height: 100%;font-size: 16px;color: #39A1D8;float: left;text-align: right;padding-top: 0.4%;font-weight: 700;
}
.time-select{
    width: 11%;height: 100%;float: left;
}
.time-select1{
    width: 6%;height: 100%;float: left;text-align: center;font-size: 16px;color: #BABABA;padding-top: 0.4%;
}
.time-select2{
    width: 2%;height: 100%;float: left;text-align: center;font-size: 16px;color: #BABABA;padding-top: 0.4%;
}
.doing-button{
    width: 48%;height: 50%;margin-top: 10%;float: left;
}
.detail-button{
    width: 48%;height: 50%;float: right;margin-top: 10%;
}
.doingbutton{
    width: 30%;height: 50%;background: #FC8060;color: #FFFFFF;border: 0px;float: right;border-radius: 5px;
}
.detailbutton{
    width: 30%;height: 50%;background: #4D9CCC;color: #FFFFFF;border: 0px;float: left;border-radius: 5px;
}
.process-in-title-left{
    width: 20%;height: 100%;float: left;
}
.process-in-title-right{
    width: 23%;height: 100%;float: right;color: #8A9BA4;font-weight: 300;
}
.taskTodo{
    width: 100%;height: 97%;border: solid #C6D1D9 1px;background: #FFFFFF;
}
.taskTodo-title{
    width: 100%;height: 5.5%;border-bottom: solid #C6D1D9 1px;background: #F2F7F9;
}
.apply-detail-img{
    width: 5%;height: 100%;float: left;
}
.apply-detail-title{
    width:10%;height: 100%;float: left;font-size: 16px;font-weight: 500;color: #4F6A7F;padding-top: 1.25%;padding-left: 1%;
}
.task-No{
    width: 12%;height: 100%;float: right;font-size: 16px;font-weight: 500;color: #4F6A7F;padding-top: 1.25%;
}
.taskTodo-Info{
    width: 100%;height: 94.5%;padding:2.5% 12% 1% 12%;
}
.taskTodo-Info-in{
    width: 100%;height: 100%;
}
.taskTodo-Info-action{
    width: 100%;height: 3.5%;
}
.out-button{
    width: 7%;height: 100%;background: #BECBD4;font-size: 14px;border: 0px;border-radius: 3px;color: #FFFFFF;
}
.save-button{
    width: 7%;height: 100%;background: #F77A4B;font-size: 14px;border: 0px;border-radius: 3px;color: #FFFFFF;
}
.do-button{
    width: 10%;height: 100%;background: #4D9CCC;font-size: 14px;border: 0px;border-radius: 3px;color: #FFFFFF;
}
.project-info{
    width: 100%;height: 26%;border-top:solid #d9dee2 1px;
}
.project-info2{
    width: 100%;height: 27.5%;background: greenyellow;
}
.project-info3{
    width: 100%;height: 27.5%;background: greenyellow;
}
.project-info-title{
    width: 100%;height: 2%;border-left: solid #FBBCA5 3px;font-size: 16px;color: dimgrey;padding-left: 1%;
    margin-bottom: 1.5%;
}
.project-info{
    padding-left: 4%;padding-right: 4%;
}
.project-text{
    width: 100%;height: 15%;margin-top: 1.5%;
}
.project-text-in{
    width: 32%;height: 100%;float: left;
}
.project-text-left{
    width: 26%;height: 100%;float: left;color: #8B9BA5;font-size: 14px;padding-top: 2.4%;
}
.project-text-right{
    width: 70%;height: 100%;float: left;
}
.select{
    height: 100%;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.dialog-title{
    width: 100%;height: 14.35%;padding-left: 7%;
}
.dialog-img{
    width: 10%;height: 100%;float: left;
}
.dialog-title-info{
    width: 50%;height: 100%;float: left;padding-top: 2.7%;padding-left: 3%;color: #5d656f;font-weight: 500;
}
.dialog-in{
    width: 100%;height: 10%;padding-left: 5%;margin-top: 10%;
}
.off-in-title{
    width: 10%;height: 100%;float: left;
}
.time-detail-top{
    width: 100%;height: 4%;
}
.timeline-left{
    width: 6%;height: 80%;float: left;margin-top: 0.3%;
}
.timeline-center{
    width: 3%;height: 80%;float: left;margin-top: 3%;
}
.circle-timeline{
    width: 100%;height: 38px;margin-top: 10%;font-size: 12px;
}
.circle-timeline-head{
    width: 40px;height: 40px;background: #FCA181;border-radius: 25px;-moz-border-radius: 25px;-webkit-border-radius: 25px;
    border:solid  5px  #FEECE6;
}
.circle-line{
    width: 2px;height: 80px;background: #FFC39B;margin-left: 20px;margin-top: 3px;
}
.circle-line-hover{
    width: 2px;height: 62px;background: #FFC39B;margin-left: 20px;margin-top: 3px;
}
.circle-timeline-time{
    text-align:center;width: 22px;height: 22px;background: #FFD2B1;border-radius: 11px;-moz-border-radius: 11px;-webkit-border-radius: 11px;
    padding-top: 6px;margin-left: 10px;
}
.circle-timeline-small{
    width: 10px;height: 10px;background: #FF8736;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
    margin-left: 6px;border: solid #FFFFFF 1.8px;display: block;
}
.timeline-title{
    width: 90px;height: 30px;background: #FEECE6;margin-left: 75%;
}
.timeline-title-info{
    width: 80%;height: 100%;color: #FC8060;float: right;padding-top: 2.5%;
}
.task-tab{
    width: 40px;height: 40px;background: red;margin-top: 2%;color: #6C8399;border-left: solid #E8E8E8 1px;
    border-top: solid #E8E8E8 1px;
    border-bottom: solid #E8E8E8 1px;
}
.task-tab-right{
    width:0;
    height:0;
    border-top:21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 21px solid red;float: left
}
.detail-div{
    width: 80%;height: 86%;float: left;margin-left: 4%;border: solid #D4DDE3 1px;padding: 1.5% 1.5%;
}
.detail-div-in{
    width:100%;height: 100%;border: solid #D4DDE3 1px;background: #F9F9F9;
}
.detail-div-title{
    width: 100%;height: 8%;border-bottom: solid #D4DDE3 1px;background: #F2F7F9;
}
.detail-div-bottom{
    width: 100%;height: 92%;padding: 1% 11% 3% 11%;
}
.detail-div-title1{
    width: 5.7%;height: 100%;float: left;
}
.detail-div-title2{
    width: 14.5%;height: 100%;float: left;font-size: 16px;font-weight: 400;color: #4894C4;padding-top: 1%;
}
.detail-div-title3{
    width: 15%;height: 100%;float: left;color: #C7CFDA;padding-top: 1%;font-size: 16px;font-weight: 400;
}
.detail-div-title4{
    width: 4%;height: 100%;float: right;
}
.detail-div-title5{
    width: 5%;height: 100%;float: right;
}
.detail-div-left{
    width: 50%;height: 100%;float: left;
}
.detail-div-right{
    width: 45%;height: 100%;float: right;
}
.project-div-title{
    width: 100%;border-left: solid #FBBCA5 3px;font-size: 16px;color: dimgrey;padding-left: 1%;
    margin-bottom: 3%;
}
.project-div-detailinfo{
    width: 92%;height: 92%;border-top: solid #D3DBE1 1px;
}
.other-require{
    height: 6%;width: 100%;padding-left: 15px;color: #A1ACB2;
}
.other-require1{
    height: 20%;width: 100%;margin-left: 10%;background: #FFFFFF;border: solid #CDCDCD 1px;margin-bottom: 10px;
}
.other-img{
    width: 100%;height: 30%;
}
.device-div{
    width:100%;height: 100%;padding: 2% 2%;
}
.device-div-in{
    width: 100%;height: 100%;border: solid  #DDDDDD  1px;background: #FFFFFF;padding: 0% 1%;
}
.device-select{
    width: 100%;height: 5%;
}
.iotx-top{
    width: 100%;height: 45%;border: solid #E1E2E3 1px;
}
.iotx-top-left{
    width: 66.5%;height: 100%;float: left;
}
.iotx-top-right{
    width: 33.5%;height: 100%;float: left;padding: 0% 2.5%;background: #FFFFFF;
}
.iotx-top-right-charts{
    width: 100%;height: 30%;
}
.iotx-top-right-warnings{
    width: 100%;height: 50%;
}
.iotx-top-right-title{
    width: 100%;height: 10%;font-weight: 800;font-size: 16px;color: #737782;padding-top: 4%;
}
.warnings{
    width: 100%;height: 22.5%;border-bottom: solid #EDEFF1 1px;padding: 2% ;
}
.warnings-img{
    width: 17%;height: 100%;float: left;text-align: center;padding-top: 2%;
}
.iotx-name{
    width: 50%;height: 100%;float: left;
}
.iotx-name-detail{
    width: 100%;height: 50%;
}
.iotx-time{
    width: 26%;height: 80%;float: right;
}
.time-img{
    width: 5%;height: 100%;float: left;
}
.iotx-time-top{
    width: 100%;height: 50%;font-size: 12px;
}
.iotx-time-down{
    width: 100%;height: 50%;color: #BDBDBD;font-size: 12px;
}
.iotx-bottom{
    width: 100%;height: 53%;margin-top: 1.5%;background: #FFFFFF;border: solid #E1E2E3 1px;
}
.iotx-list{
    width: 100%;height: 76%;
}
.iotx-detail-top{
    width: 100%;height: 40%;
}
.iotx-detail-bottom{
    width: 100%;height: 60%;border: solid #CCCCCC 1px;margin-top: 2%;background: #FFFFFF;
}
.detail-top-one{
    width: 17%;height: 100%;border: solid #CCCCCC 1px;float: left;
}
.detail-top-two{
    background:#FFFFFF;width: 25%;height: 100%;border: solid #CCCCCC 1px;float: left;margin-left: 1%;padding-top: 1%;padding-left: 2%;
}
.detail-top-three{
    width: 37%;height: 100%;border: solid #CCCCCC 1px;float: left;margin-left: 1%;background: #FFFFFF;
}
.detail-top-four{
    width: 18%;height: 100%;float: left;margin-left: 1%;
}
.time-line-circle{
    width: 33.3%;height:44%;float: left;text-align: center;padding-top: 6%;
}
.time-line-detail{
    width: 33.3%;height:56%;float: left;text-align: center;padding: 0% 3.5% 4% 3.5%;
}
.iotx-detail-in{
    width: 100%;height: 100%;border: solid #91C5DB 1px;
}
.iotx-detail-in-title{
    width: 30%;
    height: 12%;
    margin-left: 37%;
    margin-top: -7%;
    background: #FFFFFF;
    font-size: 16px;
}
.detail-top-four-right{
    width: 100%;height: 30.9%;margin-top: 4%;
}
.iotx-detail-table{
    width: 100%;height: 87%;padding: 1% 2%;
}
.sensor-div-top{
    width: 74.5%; height: 31.5%;float: left;
}
.sensor-div-right{
    width: 24.5%;height: 100.5%;float: right;border: solid #CCCCCC 1px;
}
.sensor-div-bottom{
    width:74.5%;height: 67%;float: left;margin-top: 1%;border: solid #CCCCCC 1px;padding: 1%;background: #FFFFFF;
}
.sensor-top-left{
    width: 72.5%;height: 100%;float: left;border: solid #CCCCCC 1px;background: #FFFFFF;
}
.sensor-top-right{
    width: 26.5%;height: 100%;float: right;
}
.sensor-data{
    width: 48.5%;height: 54%;color: #FFFFFF;
}
.sensor-data-on{
    width: 100%;height: 18%;margin-top: 4%;float: left;border: solid #CCCCCC 1px;padding: 3% 6%;background: #FFFFFF;
}
.sensor-data-on-left{
     width: 40%;height: 100%;color: #7B8F9F;
 }
.sensor-data-on-left{
    width: 40%;height: 100%;color: #7B8F9F;text-align: left;float: left;font-size: 16px;
}
.sensor-data-on-right{
    width: 60%;height: 100%;color: #7B8F9F;text-align: right;float: left;font-size: 16px;
}
.sensor-div-right-top{
    width: 100%;height: 11.5%;padding: 3%;background: #FFFFFF;
}
.sensor-warnings-title{
    color: #FC8060;font-size: 20px;font-weight: 500;text-align: center;width: 30%;padding-top: 5%;float: left;
}
.sensor-warnings-data{
    width: 30%;height: 100%;background: #6DB2CF;float: right;
}
.sensor-div-bottom-title{
    width: 50%;height: 8%;background: red;float: left;
}
.sensor-top-left-div{
    width: 18%;height:80%;margin-left: 1%;float: left;text-align: center;
}
.sensor-top-left-overdiv{
    width: 18%;height:80%;margin-left: 1%;float: left;text-align: center;
    border-radius: 3px;box-shadow: #666 0px 0px 10px;
}
.connect-img{
    width: 18%;height:80%;margin-left: 1%;float: left;
}





