<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<meta charset="UTF-8" />
	<title></title>
	
	<link href="/webResources/plugins/fileinput/css/fileinput.css" rel="stylesheet"/>
	
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/jquery.validate.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/localization/messages_zh.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-form/jquery.form.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-BlockUI/jquery.blockUI.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/fileinput/js/fileinput.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/fileinput/js/locales/zh.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/device/upload.js" ></script>
	
</head>

<body class="skin-blue sidebar-mini">
	<form class="form-horizontal" role="form" id="documentForm">
		<input type="hidden" th:value="${device.serialNo}" id="deviceSN"/>
		<input type="hidden" th:value="${device.project.number}" id="projectNo"/>
	    <fieldset>
	    	<div class="form-group">
		    	<label class="col-sm-3 control-label"  th:text="#{document.uploadFile}" for="file">文件上传</label>  
		    	<div class="col-sm-8">
		    		<input type="file" id="fileUpLoad" multiple="multiple"  name="fileUpLoad" data-show-caption="true"/>
    			</div>
	    	</div>
	    </fieldset>  
	</form>  
</body>

</html>

