<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<meta charset="UTF-8" />
	<title></title>
	
	<link href="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet"/>
	<link href="/webResources/css/custom/validate.css" rel="stylesheet"/>

	<script type="text/javascript" src="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/jquery.validate.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/localization/messages_zh.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-form/jquery.form.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-BlockUI/jquery.blockUI.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/chosen/chosen.jquery.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/integralRule/save.js" ></script>
	
</head>

<body class="skin-blue sidebar-mini">
	<form class="form-horizontal" role="form" th:object="${integralRule}" id="ruleForm">
		<input type="hidden" id="integralRuleId" name="integralRuleId" th:value="${integralRule.id}"/>
	    <fieldset>
	    	<div class="form-group">
		    	<label class="col-sm-3 control-label"  th:text="#{integralRule.key}">唯一标识</label>
		    	<div class="col-sm-8">
		    		<select th:field="*{key}" class="form-control">
		            	<option th:each="key : ${keys}" th:value="${key}" th:text="#{'customerService.task.'+${key}}"></option>
		            </select>
    			</div>
	    	</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"  th:text="#{integralRule.ruleContext}">唯一标识</label>
				<div class="col-sm-8">
					<select th:field="*{ruleContext}" class="form-control">
						<option th:each="ruleContext : ${ruleContexts}" th:value="${ruleContext}" th:text="#{'integralRule.ruleContext.'+${ruleContext}}"></option>
					</select>
				</div>
			</div>
	    	<div class="form-group">
		    	<label class="col-sm-3 control-label" th:text="#{integralRule.express}">表达式</label>
		    	<div class="col-sm-8">
		    		<input type="text" th:field="*{express}" class="form-control" th:placeholder="#{integralRule.express}"/>
    			</div>
	    	</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" th:text="#{integralRule.note}">说明</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{note}" class="form-control" th:placeholder="#{integralRule.note}"/>
				</div>
			</div>
	    </fieldset>
	</form>  
</body>

</html>

