<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="base">

<head>
	<meta charset="UTF-8" />
	<title>用户信息管理</title>
	
	<link rel="stylesheet" type="text/css" href="/webResources/plugins/jquery-UI/jquery-ui-1.12.1.custom/jquery-ui.theme.css" />
	<link rel="stylesheet" type="text/css" href="/webResources/plugins/jqgrid/css/ui.jqgrid.css" />
	<link rel="stylesheet" type="text/css" href="/webResources/plugins/pageJquery/css/zxf_page.css"/>
	
	<script type="text/javascript" src="/webResources/plugins/jqgrid/js/jquery.jqGrid.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/jqgrid/src/i18n/grid.locale-cn.js"></script>
	<script type="text/javascript" src="/webResources/plugins/pageJquery/js/zxf_page.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/page/createPage.js"></script>
	<script type="text/javascript" src="/webResources/js/custom/account/accountManage.js"></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-BlockUI/jquery.blockUI.js" ></script>

</head>

<body>
	<div layout:fragment="content" >
		<div class="col-md-6" style="width:100%">
			<div class="row">
				<div style="padding-top:30px;padding-left:30px;">
					<div class="tab-content">
						<section class="content">
							<div class="row">
								<div class="col-lg-12">
								<!-- 节点管理的表格 -->
								<div><table id="accountTable"></table></div>
								<div class="zxf_pagediv" style="padding-top:15px;float:left;" id="accountPager"></div>
								<span style="padding-top:15px;float:left;" class="pull-right" shiro:notAuthenticated="">
									<span shiro:hasAnyPermissions="employeeMgr:batadd,employeeMgr:edit,employeeMgr:add">
										<font color="#F8F8F8" th:text="#{loginByRememberMe}"></font>
										<a href="/login" th:text="#{login}"></a>
										<font color="#F8F8F8" th:text="#{authentication}"></font>
									</span>
								</span>
								<!-- 按钮 -->
								<span shiro:authenticated="">
									<input class="btn btn-info" style="margin-top:20px;margin-right:20px;float:right" shiro:hasPermission="employeeMgr:batadd" th:type="button" th:value='#{batadd}' id='batadd'/>
									<input class="btn btn-info" style="margin-top:20px;margin-right:20px;float:right" shiro:hasPermission="employeeMgr:edit" th:type="button" th:value='#{edit}' id='edit'/>
									<input class="btn btn-info" style="margin-top:20px;margin-right:20px;float:right" shiro:hasPermission="employeeMgr:add" th:type="button" th:value='#{add}' id='add'/>
								</span>
								</div>
							</div>
						</section>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>


</html>

