<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title th:text="#{indexPage}">首页</title>

<link href="/webResources/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/webResources/css/cloud/cloud-admin.css" rel="stylesheet" />
<link href="/webResources/css/cloud/themes/night.css" rel="stylesheet" />
<link href="/webResources/css/cloud/responsive.min.css" rel="stylesheet" />
<link href="/webResources/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="/webResources/css/cloud/animatecss/animate.min.css"
	rel="stylesheet" />
<link
	href="/webResources/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"
	rel="stylesheet" />
<link href="/webResources/plugins/jquery-todo/css/styles.css"
	rel="stylesheet" />
<link href="/webResources/plugins/fullcalendar/fullcalendar.min.css"
	rel="stylesheet" />
<link href="/webResources/plugins/gritter/css/jquery.gritter.css"
	rel="stylesheet" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
	rel="stylesheet" />
<link
	href="/webResources/plugins/bootstrap3-dialog/bootstrap-dialog.min.css"
	rel="stylesheet" />
<link href="/webResources/css/custom/goaland.css" rel="stylesheet" />
<link href="/webResources/css/custom/loading.css" rel="stylesheet" />
<link href="/webResources/css/custom/vclock.css" rel="stylesheet" />

<style type="text/css">
body, html {
	width: 100%;
	height: 700px;
}

.ui-autocomplete {
	display: block;
	z-index: 99999;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 540px;
        margin-left: 40%;
        margin-top: 10%;
        height: 460px;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
</style>

<script type="text/javascript"
	src="/webResources/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/bootstrap3-dialog/bootstrap-dialog.min.js"></script>
<script type="text/javascript"
	src="/webResources/js/custom/modal/modal.js"></script>
<script type="text/javascript" src="/webResources/js/custom/common.js"></script>

<script type="text/javascript"
	src="/webResources/plugins/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/jQuery-Cookie/jquery.cookie.min.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/i18n/jquery.i18n.properties-1.0.9.js"></script>
<script type="text/javascript" src="/webResources/plugins/vue/vue.js"></script>
<script type="text/javascript"
	src="/webResources/plugins/dateFormat/dateFormat.js"></script>
<script type="text/javascript" src="/webResources/plugins/toaster/jquery.toaster.js"></script>
<!-- CUSTOM SCRIPT -->
<script type="text/javascript" src="/webResources/js/script.js"></script>
<script type="text/javascript" src="/webResources/plugins/SockJS/sockjs.min.js"></script>
<script type="text/javascript" src="/webResources/plugins/stompJs/stomp.js"></script>
<script type="text/javascript" src="/webResources/js/custom/top/top.js"></script>


<script>
	jQuery(document).ready(function() {
		App.setPage("index"); //Set current page
		App.init(); //Initialise plugins and elements

		loadProperties();

		function loadProperties() {
			jQuery.i18n.properties({// 加载资浏览器语言对应的资源文件
				name : 'messages', // 资源文件名称
				path : '/webResources/i18n/', // 资源文件路径
				mode : 'map', // 用 Map 的方式使用资源文件中的值
				callback : function() {// 加载成功后设置显示内容
				}
			});
		}
	});
</script>

</head>

<body>
	<!-- 引入页眉 -->
	<header class="navbar clearfix" th:include="top::top"></header>

	<section id="page">
		<!-- 引入menu -->
		<div id="sidebar" class="sidebar" th:include="menu::menu"></div>

		<!-- 具体内容 -->
		<div id="main-content" layout:fragment="content"></div>
	</section>
</body>

</html>