<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="base">
    
<head>
	<meta charset="UTF-8" />
	<title th:text="#{indexPage}">首页</title>
	
	<style type="text/css">
	#allMap {
		width: 100%;
		height: 700px;
		overflow: hidden;
		margin: 0;
		font-family: "微软雅黑";
	}
	.anchorBL{  
        display:none;   
    }   
	</style>
	
	<script type="text/javascript" th:src="@{http://api.map.baidu.com/getscript(v=2.0,ak=5CszUV7dPeeTfhUi2OR8hXncqKYz2WqW,t=20170608143204)}"></script>
	<script type="text/javascript" src="/webResources/plugins/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/bMap/bmap.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/dashboard/dashboard.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/dashboard/map.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/dashboard/distribute.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/dashboard/chart.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/dashboard/right-line.js" ></script>
	
</head>

<body>
	<div layout:fragment="content" >
		<div class="dashboard">
		    <div class="dashboardin">
		        <div id="devices" class="dhtop" v-cloak="v-cloak">
		            <div class="category-goaland" style="border-left: solid #338DC5 8px">
		                <div class="category-number">
		                    {{deviceDatas[0].count}}
		                </div>
		                <div class="eng-name">
		                    {{deviceDatas[0].english}}
		                </div>
		                <div class="cha-name">
		                   	{{deviceDatas[0].chinese}}
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;border-left: solid #0071B6 8px">
		                <div class="category-number">
		                    {{deviceDatas[1].count}}
		                </div>
		                <div class="eng-name">
		                    {{deviceDatas[1].english}}
		                </div>
		                <div class="cha-name">
		                 	{{deviceDatas[1].chinese}}
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;border-left: solid #338DC5 8px">
		                <div class="category-number">
		                    {{deviceDatas[2].count}}
		                </div>
		                <div class="eng-name">
		                    {{deviceDatas[2].english}}
		                </div>
		                <div class="cha-name">
		                   	{{deviceDatas[2].chinese}}
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;background: #FF5E3B">
		                <div class="category-number" style="color: #FFFFFF">
		                    {{deviceDatas[3].count}}
		                </div>
		                <div class="eng-name" style="color: #FFE2DB">
		                    {{deviceDatas[3].english}}
		                </div>
		                <div class="cha-name" style="color: #fefffd">
		                    {{deviceDatas[3].chinese}}
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;background: #FF9501">
		                <div class="category-number" style="color: #FFFFFF">
		                    {{deviceDatas[4].count}}
		                </div>
		                <div class="eng-name" style="color: #FFE2DB">
		                    {{deviceDatas[4].english}}
		                </div>
		                <div class="cha-name" style="color: #fefffd">
		                   	{{deviceDatas[4].chinese}}
		                </div>
		            </div>
		        </div>
		        <div class="dhcenter">
		            <div class="allmap" id="allmap">
		            </div>
		            <div class="dhright">
		                <div class="dhright-title" th:text="#{device.distribute}">
		                </div>
		                <div class="right-charts" id="right-pie">
		                </div>
		            </div>
		            <div class="dhright">
		                <div class="dhright-title" th:text="#{alarm.data}">
		                </div>
		                <div class="right-charts" id="right-bar">
		                </div>
		            </div>
		            <div class="dhright">
		                <div class="dhright-title" th:text="#{process.start.count.daily}">
		                </div>
		                <div class="right-charts" id="right-line">
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>

</html>