<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="base">
    
<head>
	<meta charset="UTF-8" />
	<title>首页</title>
	
	<style type="text/css">
	#allMap {
		width: 100%;
		height: 700px;
		overflow: hidden;
		margin: 0;
		font-family: "微软雅黑";
	}
	.anchorBL{  
        display:none;   
    }   
	</style>
	
	<script type="text/javascript" th:src="@{http://api.map.baidu.com/getscript(v=2.0,ak=5CszUV7dPeeTfhUi2OR8hXncqKYz2WqW,t=20170608143204)}"></script>
	<script type="text/javascript" src="/webResources/plugins/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/bMap/bmap.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/dashboard/dashboard.js" ></script>
	
</head>

<body>
	<div layout:fragment="content" >
		<div class="dashboard">
		    <div class="dashboardin">
		        <div class="dhtop">
		            <div class="category-goaland" style="border-left: solid #338DC5 8px">
		                <div class="category-number">
		                    88
		                </div>
		                <div class="eng-name">
		                    HVSC  COOLING
		                </div>
		                <div class="cha-name">
		                    直流输电换流阀水冷设备
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;border-left: solid #0071B6 8px">
		                <div class="category-number">
		                    421
		                </div>
		                <div class="eng-name">
		                    FACTS  FACTS
		                </div>
		                <div class="cha-name">
		                    柔性交流输配电晶闸管阀纯水冷却设备
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;border-left: solid #338DC5 8px">
		                <div class="category-number">
		                    269
		                </div>
		                <div class="eng-name">
		                    ELECTRIC  DRIVE  COOLING
		                </div>
		                <div class="cha-name">
		                    新能源发电变流器纯水冷却设备
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;background: #FF5E3B">
		                <div class="category-number" style="color: #FFFFFF">
		                    12,314
		                </div>
		                <div class="eng-name" style="color: #FFE2DB">
		                    RENEWABLE  ENERGY  COOLING
		                </div>
		                <div class="cha-name" style="color: #fefffd">
		                    大功率电气传动变频器纯水冷却设备
		                </div>
		            </div>
		            <div class="category-goaland" style="margin-left: 1.75%;background: #FF9501">
		                <div class="category-number" style="color: #FFFFFF">
		                    12,314
		                </div>
		                <div class="eng-name" style="color: #FFE2DB">
		                    RENEWABLE  ENERGY  COOLING
		                </div>
		                <div class="cha-name" style="color: #fefffd">
		                    蓄冷设备
		                </div>
		            </div>
		        </div>
		        <div class="dhcenter">
		            <div class="allmap" id="allmap">
		            </div>
		            <div class="dhright">
		                <div class="dhright-title">
		                    设备分布
		                </div>
		                <div class="right-charts" id="right-pie">
		                </div>
		            </div>
		            <div class="dhright">
		                <div class="dhright-title">
		                    告警数据
		                </div>
		                <div class="right-charts" id="right-bar">
		                </div>
		            </div>
		            <div class="dhright">
		                <div class="dhright-title">
		                    IOT-X数据
		                </div>
		                <div class="right-charts" id="right-line">
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>

</html>