<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<body>
	<div th:fragment="menu">
		<div class="sidebar-menu nav-collapse">
			<div class="divide-20"></div>
			<!-- SEARCH BAR -->
			<!--<div id="search-bar">
				<input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
			</div>-->
			
			<!-- SIDEBAR MENU -->
			<ul>
				<li class="active">
					<a href="/index">
						<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text" th:text="#{indexPage}">首页</span>
						<span class="selected"></span>
					</a>
				</li>
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text" th:text="#{systemMgr}">系统管理</span>
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a href="/account/management/view"><span class="sub-menu-text" th:text="#{employeeMgr}">人员管理</span></a></li>
					</ul>
				</li>
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="fa fa-bar-chart-o fa-fw"></i> <span class="menu-text" th:text="#{customServiceProcess}">售后流程</span>
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a href="/customerServiceProcess/startedProcess/view"><span class="sub-menu-text" th:text="#{taskStarted}">我发起的任务</span></a></li>
						<li><a href="/customerServiceProcess/runtimeTask/view"><span class="sub-menu-text" th:text="#{taskToDo}">我待办的任务</span></a></li>
						<li><a><span class="sub-menu-text" th:text="#{historicTasks}">我办过的任务</span></a></li>
					</ul>
				</li>
				<li><a class="/technologyDocument/manage" href="calendar.html"><i class="fa fa-calendar fa-fw"></i>
					<span class="menu-text" th:text="#{documentMgr}">资料管理
					</span>
					</a>
				</li>
			</ul>
			<!-- /SIDEBAR MENU -->
		</div>
	</div>
</body>

</html>