<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<body>
	<!-- HEADER -->
	<header th:fragment="top">
		<input type="hidden" id="loginId" name="loginId" th:value="${session.loginId}"/> 
		<div id="top" class="container">
				<div class="navbar-brand" style="padding: 0%">
					<!-- COMPANY LOGO -->
					<div class="logo-top" >
						<a href="/index" style="width: 100%;height: 100%">
							<!-- <img src="/webResources/img/logo/goaland-logo.png" style="width: 320px;height: 74px;top: 0px"/> -->
						</a>
					</div>
					<!-- /COMPANY LOGO -->
					<!-- TEAM STATUS FOR MOBILE -->
					<div class="visible-xs">
						<a href="#" class="team-status-toggle switcher btn dropdown-toggle">
							<i class="fa fa-users"></i>
						</a>
					</div>
					<!-- /TEAM STATUS FOR MOBILE -->
					<!-- SIDEBAR COLLAPSE -->
					<div id="sidebar-collapse" class="sidebar-collapse btn">
						<i class="fa fa-bars" 
							data-icon1="fa fa-bars" 
							data-icon2="fa fa-bars" ></i>
					</div>
					<!-- /SIDEBAR COLLAPSE -->
				</div>
				
				<!-- BEGIN TOP NAVIGATION MENU -->					
				<ul class="nav navbar-nav pull-right">
					
					<!-- BEGIN INBOX DROPDOWN -->
					<li class="dropdown" id="header-message">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-envelope"></i>
						<span class="badge">{{messages.records}}</span>
						</a>
						<ul class="dropdown-menu inbox">
							<li class="dropdown-title">
								<span><i class="fa fa-envelope-o"></i></span>
							</li>
							<li v-for="message in messages.content">
								<a href="#">
									<img src="" alt="" />
									<span class="body">
										<span class="from">{{message['from.name']}}</span>
										<span class="from">{{message.title}}</span>
										<span class="message">
											{{message.content}}
										</span> 
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>{{message.sendTime}}</span>
										</span>
									</span>
									 
								</a>
							</li>
							<li class="footer">
								<a href="#">See all messages <i class="fa fa-arrow-circle-right"></i></a>
							</li>
						</ul>
					</li>
					<!-- END INBOX DROPDOWN -->
					
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" src="" />
							<span class="username" th:text="${session.user.name}">John Doe</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:customPost('/logout',null)"><i class="fa fa-power-off"></i> Log Out</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>
	</header>
	<!--/HEADER -->
</body>

</html>